body .main-container {
    max-width: none;
}

.shiny-flow-layout>div {
    display: block;
}

.jslider {
    min-width: 360px;
}

label.checkbox {
    margin-left: 2em;
}

.dataTables_paginate li {
    display: inline-block;
    margin: 4px;
}
